* {
    min-height: 0;
}

window#waybar {
    background: rgba(40, 40, 40, 1);
    color: rgb(205, 214, 244);
}

window#waybar > box.horizontal:dir(ltr) {
  margin-top: 6px;
  margin-bottom: 6px;
  margin-left: 12px;
  margin-right: 12px;
}

#workspaces button {
    padding: 0 6px;
    margin: 0 3px;
}

#workspaces button.focused,
#workspaces button.active {
    color: rgb(30, 30, 30);
    background: rgba(255, 255, 255, 0.5);
    padding: 0 10px;
}

#workspaces button.focused:hover,
#workspaces button.active:hover {
    background: rgba(255, 255, 255, 0.75);
}

#workspaces button:hover {
    background: rgba(255, 255, 255, 0.1);
}

tooltip {
    background: transparent;
}

tooltip label {
    border: 3px solid #777777;
    background: #282828;
    padding: 10px;
    border-radius: 7px;
    margin-bottom: 2px;
}

label#clock,
label#wireplumber,
label#bluetooth,
label#network,
label#battery,
label#cpu,
label#custom-power,
label#memory,
label#mpris,
label#custom-menu {
  padding: 0 12px;
  border-radius: 12px;
  margin: 0 3px;
}

#workspaces button,
label#clock,
label#wireplumber,
label#bluetooth,
label#network,
label#battery,
label#cpu,
label#memory,
label#mpris {
  background:rgba(255, 255, 255, 0.075);
}
