* {
  bg0     : #171717;
  bg1     : #1c1c1c;
  bg2     : #1c1c1c;
  bg3     : #242424;
  fg0     : #c0caf5;
  fg1     : #a9b1d6;
  fg2     : #737aa2;
  red     : #f7768e;
  green   : #9ece6a;
  yellow  : #e0af68;
  blue    : #7aa2f7;
  magenta : #9a7ecc;
  cyan    : #4abaaf;

  accent: @red;
  urgent: @yellow;
}

